@model IEnumerable<UI.W.Models.GroupUpdate>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Updatemsg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupGoalId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Updatemsg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GroupGoalId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GroupUpdateId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GroupUpdateId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GroupUpdateId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
