@model IEnumerable<UI.Relationships.Models.GroupComment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CommentText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupUpdate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CommentText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GroupUpdate.GroupUpdateId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GroupCommentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GroupCommentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GroupCommentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
